<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="controlaltdelete_configurable_plugin" type="ControlAltDelete\SwatchesSku\Plugin\ConfigurableProduct\Block\Product\View\Type\ConfigurablePlugin" />
    </type>
</config>
